/* Catalog container */

.catalog {
    background-color: #f1f1f1;
}

/* Catalog tab */

.catalog__tab {
    position: relative;
}

.catalog__container {
    display: none;
}

@media (min-width: 768px) {
    .catalog__container {
        display: block;
    }
}

.catalog__container--is-visible {
    display: block;
    position: absolute;
}

/* Catalog tab list */

.catalog__categories {
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;
    border: 2px solid #808080;
    border-radius: 3px;
}

@media (min-width: 768px) {
    .catalog__categories {
        flex-direction: row;
        background-color: transparent;
        border: none;
    }
}

/* Catalog tab items */

.catalog__categories-item {
    border-bottom: 2px solid #808080;
}

.catalog__categories-item:last-child {
    border: none;
}

@media (min-width: 768px) {
    .catalog__categories-item {
        border: none;
    }
}

/* Catalog tab links */

.catalog__btn {
    background-color: #dfdfdf;
    border: 2px solid #808080;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5px 7px;
    margin: 5px 4px 0;
}

.catalog__btn:hover,
.catalog__btn:active,
.catalog__btn:focus {
    background-color: #fff;
}

/* Catalog vertical open tab button */

@media (min-width: 768px) {
    .catalog__tab-btn {
        display: none;
    }
}

/* Catalog content */

.catalog__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    border: 2px solid #808080;
    width: 100%;
    min-height: 300px;
    margin: 0 0 5px;
    padding: 15px;
    gap: 10px 20px;
}

/* Product cards */

.product {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: calc(100% / 2 - 10px);
    gap: 5px
}

.product img {
    border: 2px solid #808080;
}

@media (min-width: 768px) {
    .product {
        max-width: 60px;
    }
}
