html {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 548px;
    margin: 0 auto;
    padding: 0 20px;
}
